<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>mysqlテスト</title>
</head>
<body>
  <p>ユーザー情報未登録！</p>
  <p>スキャンされたカード：<%= usersCard %><br>

    <!-- カードが一致にある場合→http://localhost:3000/trying -->
    <!-- カードが一致にない場合→http://localhost:3000/signup -->
  
</body>
</html>