<!DOCTYPE html>
  <html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>mysqlテスト</title>
  </head>
  <body>
    <p>ユーザー情報登録済み！</p>
    <p>スキャンされたカード：<%= usersCard %><br>
    
    <ul>
      <li><%= "id :" + results[0].id %></li>
      <li><%= "card_id :" + results[0].card_id %></li>
    </ul>

      <!-- カードが一致にある場合→http://localhost:3000/trying -->
      <!-- カードが一致にない場合→http://localhost:3000/signup -->
    
  </body>
  </html>