<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="./signup" method="post">
        <label>性別<input type="text" name="gender"></label>
        <label>色<input type="text" name="color"></label>
        <label>服のサイズ<input type="text" name="c_size"></label>
        <label>靴のサイズ<input type="text" name="s_size"></label>
        <input type="submit" value="送信">
    </form>
    
</body>
</html>