<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="./task" method="post">
        <label>店舗ID<input type="text" name="store_id"></label>
        <label>試着室の番号<input type="text" name="room_id"></label>
        <label>タスク内容<input type="text" name="task"></label>
        <input type="submit" value="送信">
    </form>
    
</body>
</html>